{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>{{course.name}}</title>

    <!-- Vendor CSS -->
    <link href="lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/overview.css' %}">
    <link rel="stylesheet" href="{% static 'common/assets/css/style.css' %}">
  </head>
  <body>
      <!-- As a link -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">CodeHub</a>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <h3>{{course.name}}</h3>
        <div class="row">
            <div class="col-md-5"> 
                <h4>Modules</h4>
                <ul class="treeRoot">
                {% for module in modules %}
                    <li class="hasSubMenu"><h5 style="user-select: none;">{{module.name}}</h5>
                    <ul>
                        <li><a class="btn" name="videos" id="{{ module.code }}">Videos</a></li>
                        <li><a class="btn" name="quiz" id="{{ module.code }}">Quiz</a></li>
                        <li><a class="btn" name="rearrange" id="{{ module.code }}">Rearrange</a></li>
                        <li><a class="btn" name="problems" id="{{ module.code }}">Handson</a></li>
                        <li><a class="btn" name="assessment" id="{{ module.code }}">Assessment</a></li>
                    </ul>
                    </li>
                {% endfor %}
                </ul>
                <br/>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/overview.js' %}"></script>
    <script>
        $(function(){
            $('a[name="quiz"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+this.id+"/quiz";
            });
            $('a[name="rearrange"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+this.id+"/rearrange";
            });
            $('a[name="problems"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+this.id+"/problems";
            });
            $('a[name="assessment"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+this.id+"/assessment";
            });
            setInterval(function(){
                $.ajax({
                url : "{% url 'questions_completed' %}", // the endpoint
                type : "POST", // http method
                data : {course:'{{course.code}}'}, // data sent with the post request
                // handle a successful response
                success : function(json) {
                    $('#questions_completed').html(json['questions_completed']);
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert(response["responseJSON"]["error"]);
                }
            });
            },5000);
        });
    </script>
  </body>