{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>{{course.name}}</title>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/overview.css' %}">
    <link rel="stylesheet" href="{% static 'common/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <style>
        * {
        box-sizing: border-box;
        }

        /* Container for flexboxes */
        .row {
        display: flex;
        flex-wrap: wrap;
        }
        /* Create four equal columns */
        .column {
        flex: 25%;
        }
        @media screen and (min-width: 962px) {
            #module_progress{
                display: block!important;
                width: 30%;
            }
            #modules{
                display: block!important;
            }
            #close_module_progress{
                display: none!important;
            }
        }
        @media (max-width: 962px) {
            .btn-success > span{
                display: none;
            }
            #module_progress{
                display: none;
            }
            .row {
                flex-direction: column;
            }
        }
        .module_active{
            background-color: #f1f1f1;
            border-radius: 5px;
        }
        #module_name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            }

        #text{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 30px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
   </style>
  </head>
  <body  style="background-color: #f6f9fd!important;">
      <!-- As a link -->
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">CodeHub</a>
        </div>
    </nav>
    <div id="overlay" onclick="off()">
        <div id="text"><i class="fa fa-spinner fa-spin"></i><span>Loading</span></div>
      </div>
    <div class="container-fluid">
        <h2 class="h5 mb-0" style="padding: 25px;">{{course.name}} <a class="btn btn-sm btn-white">details</a></h2>
        <div class="row">
            <div class="column" id="modules">
                <div class="card border-light shadow-sm">
                    <div class="card-header border-bottom border-light d-flex justify-content-between">
                        <h2 class="h5 mb-0">Modules</h2>
                        <a class="btn btn-sm btn-secondary">Total {{ modules|length }} modules</a>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group">
                            {% for module in modules %}
                            <li class="list-group-item px-0" id="{{module.code}}">
                                <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <h4 class="h6 mb-0">
                                        <a class="module_link" id="{{module.code}}">{{ module.name }}</a>
                                    </h4>
                                    <span class="text-success">●</span>
                                    <small>Module {{ forloop.counter }}</small>
                                </div>
                                <div>
                                    <a class="btn btn-sm btn-success"><i class="fas fa-check mr-1"></i> <span>Completed</span></a>
                                </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <div class="column" id="module_progress">
                <a id="close_module_progress"><i class="fa fa-arrow-left"></i> back to course</a>
                <div class="card border-light shadow-sm">
                    <div class="card-header border-bottom border-light">
                        <h5 id="module_name">Introduction,variables,input and output statements</h5>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center mb-4">
                            <div class="d-flex flex-row">
                                <div style="width: 8%;">
                                    <span class="icon icon-md text-purple"><span class="fab fa-youtube"></span></span>
                                </div>
                                <div class="progress-wrapper" style="width: 92%">
                                    <div class="progress-info">
                                        <a class="h6 mb-0" href="javascript:void(0)" name="videos">Videos <i class="fa fa-external-link"></i></a>
                                        <div class="small font-weight-bold text-dark"><span>34 %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 34%;" id="videosbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="d-flex flex-row">
                                <div style="width: 8%;">
                                    <span class="icon icon-md text-danger"><span class="fa fa-list-check"></span></span>
                                </div>
                                <div class="progress-wrapper" style="width: 92%">
                                    <div class="progress-info">
                                        <a class="h6 mb-0" href="javascript:void(0)" name="quiz">Quiz <i class="fa fa-external-link"></i></a>
                                        <div class="small font-weight-bold text-dark"><span>{{progress.quiz}} %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.quiz}}%;" id="quizbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="d-flex flex-row">
                                <div style="width: 8%;">
                                    <span class="icon icon-md text-secondary"><span class="fa fa-reorder"></span></span>
                                </div>
                                <div class="progress-wrapper" style="width: 92%">
                                    <div class="progress-info">
                                        <a class="h6 mb-0" href="javascript:void(0)" name="rearrange">Re-Arrange <i class="fa fa-external-link"></i></a>
                                        <div class="small font-weight-bold text-dark"><span>{{progress.rearrange}} %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.rearrange}}%;" id="rearrangebar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="d-flex flex-row">
                                <div style="width: 8%;">
                                    <span class="icon icon-md text-info"><span class="fa fa-code"></span></span>
                                </div>
                                <div class="progress-wrapper" style="width: 92%">
                                    <div class="progress-info">
                                        <a class="h6 mb-0" href="javascript:void(0)" name="problems">Hands-On <i class="fa fa-external-link"></i></a>
                                        <div class="small font-weight-bold text-dark"><span>{{progress.problems}} %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.problems}}%;" id="problemsbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="d-flex flex-row">
                                <div style="width: 8%;">
                                    <span class="icon icon-md text-purple"><span class="fa fa-terminal"></span></span>
                                </div>
                                <div class="progress-wrapper" style="width: 92%">
                                    <div class="progress-info">
                                        <a class="h6 mb-0" href="javascript:void(0)" name="assessment">Assessment <i class="fa fa-external-link"></i></a>
                                        <div class="small font-weight-bold text-dark"><span>0 %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="assessmentbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="statistics column">
                <div class="card border-light shadow-sm">
                    <div class="card-header border-bottom border-light d-flex justify-content-between">
                        <h2 class="h5 mb-0">Statistics</h2>
                        <span class="fas fa-chart-line ml-2"></span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><i class="fa-solid fa-trophy text-secondary" style="padding-right: 5px;"></i>Batch Rank</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold"># 71</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0">Problems completed</h6>
                                </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">32/250</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3">
                            <div>
                                <h6 class="mb-0">Modules completed</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">2/{{ modules|length }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/overview.js' %}"></script>
    <script>
        var module_code = "{{progress.code}}";
        $(function(){
            $('#'+module_code).addClass('module_active');
            $('a[name="quiz"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+module_code+"/quiz";
            });
            $('a[name="rearrange"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+module_code+"/rearrange";
            });
            $('a[name="problems"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+module_code+"/problems";
            });
            $('a[name="assessment"]').on('click',function(){
                window.location.href = "/courses/{{course.code}}/module/"+module_code+"/assessment";
            });
            //closing module
            $('#close_module_progress').on('click',function(){
                $('#module_progress').hide();
                $('#modules').show();
            });
            //module change
            $('a[class="module_link"]').on('click',function(){
                $('#overlay').show();
                var code = $(this).attr('id');
                $.ajax({
                    url : "{% url 'module_progress' %}", // the endpoint
                    type : "GET", // http method
                    data : { 
                        code : code,
                    }, // data sent with the post request
                    // handle a successful response
                    success : function(json){
                        $('li').removeClass('module_active');
                        $('li[id='+json['code']+']').addClass('module_active');
                        if($(window).width()<962){
                            $('#modules').hide();
                            $('#module_progress').show();
                        }
                        $('#quizbar').css('width',json['quiz'].toString()+"%");
                        $('#rearrangebar').css('width',json['rearrange'].toString()+"%");
                        $('#problemsbar').css('width',json['problems'].toString()+"%");
                        $('#module_name').html(json['name']);
                        module_code = json['code'];
                        $('#overlay').hide();
                    }
                });
            });
        });
    </script>
  </body>