{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>{{question.title}}</title>

    <!-- Vendor CSS -->
    <link href="{% static 'commom/lib/remixicon/fonts/remixicon.css' %}" rel="stylesheet">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit-icons.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>  
  <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'common/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <style>
      pre{
          display: block;
          padding: 9.5px;
          margin: 0 0 10px;
          font-size: 15px;
          line-height: 1.42857143;
          color: #333;
          word-break: break-all;
          word-wrap: break-word;
          background-color: #f5f5f5;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .statement{
          display: block;
          padding: 15px;
          margin: 0 0 9px;
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
          line-height: 1.42857143;
          color: #333;
          word-break: break-all;
          word-wrap: break-word;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          user-select: none;
          overflow-x : auto
        }
        p{
          font-size: 17px;
        }
        #error{
          display: none;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 10px;
        }
        .content-active{
          background-color: #282a4a!important;
          color: white;
        }
        @media (min-width: 962px) {
          .left{
            overflow-y: scroll;
            height: calc(100vh - 60px);
          }
          .right{
            overflow-y: scroll;
            height: calc(100vh - 60px);
          }
          i{
            padding-left: 5px;
          }
        }
        .sidebar-link{
          font-size: 17px;
          display: flex;
          justify-content: center;
          align-items: center;height: 50px;
        }
    </style>
  </head>
  <body class="animate bg-white">
    <div class="sidebar" id="sidebar">
      <i class="sidebar-close fa fa-remove" id="closeMenu"></i>
      <div class="sidebar-header">
        <a href="#" class="sidebar-logo"><span></span></a>
        <a href="#" class="sidebar-logo-text text-blue">Code<span>Hub</span></a>
      </div><!-- sidebar-header -->
      <div class="sidebar-body">
        <nav class="nav-sidebar">
          {% for q in questions %}
          {% if q.code == question.code %}
          <a href="{{q.code}}" class="text-blue">
            <div class="container d-flex justify-content-between sidebar-link" style="
            border-left: #282a4a 3px solid;">
              <div>{{forloop.counter}}</div>
              <div id="status">
              {% if q.status %}
              <i class="fa fa-check"></i>
              {% endif %}
              {% if q.status == False %}
              <i class="fa fa-remove"></i>
              {% endif %}
              </div>
              <div class="question">{{q.title}}</div>
            </div>
          </a>
          <hr>
          {% endif %}
          {% if q.code != question.code %}
          <a href="{{q.code}}" class="link-dark" style="padding-left: 3px;">
              <div class="container d-flex flex-row justify-content-between sidebar-link">
              <div>{{forloop.counter}}</div>
              {% if q.status %}
              <i class="fa fa-check" style="color: green;"></i>
              {% endif %}
              {% if q.status == False %}
              <i class="fa fa-remove" style="color: red;"></i>
              {% endif %}
              <div class="question">{{q.title}}</div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
        </nav>
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <a href="/courses/{{question.course}}/overview"><i class="fa fa-arrow-right-from-bracket" style="font-size: 25px;" data-toggle="tooltip" title="back to course"></i></a>
        <div class="avatar-body">
          <div class="d-flex align-items-center justify-content-between">
            <h6>Back to Course Details</h6>
            <a href="" class="footer-menu"><i class="ri-settings-4-line"></i></a>
          </div>
        </div><!-- avatar-body -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="content">
      <div class="overlay"></div>
        <div class="content-header navbar navbar-expand-lg">
            <a id="mobileMenu" href="#" class="content-menu d-lg-none"><i class="fa fa-bars" id="mobileMenu" style="font-size: 22px;"></i></a>
           <a class="navbar-brand d-none d-lg-flex" href="{% url 'dashboard' %}">Dashboard</a>
           <a class="navbar-brand d-lg-none" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
         </div><!-- content-header -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 left">
            <h5 style="margin-top: 10px;margin-bottom: 10px;">{{question.title}}</h5>
            <p>{{question.description |safe}}</p>
            <hr />
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Input Format:</h6>
            <p>{{question.input_format |safe}}</p>
            <hr />
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Output Format:</h6>
            <p>{{question.output_format |safe}}</p>
            <hr />
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Sample input 1</h6>
            <pre>{{question.input1 |safe}}</pre>
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Sample Output 1</h6>
            <pre>{{question.output1 |safe}}</pre>
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Sample input 2</h6>
            <pre>{{question.input2 |safe}}</pre>
            <h6 style="margin-top: 10px;margin-bottom: 10px;">Sample Output 2</h6>
            <pre>{{question.output2 |safe}}</pre>
        </div>
        <div class="col-sm-8 right bg-light">
          <div style="margin-top: 10px">
            <h5 style="padding-top: 10px;">Rearrange the following statements:</h5>
            <div class="bg-white border" id="error">
              <div class="d-flex flex-row justify-content-between">
                <div style="color: red;font-size:medium;">
                  Error:
                </div>
                <div><i class="fa fa-remove" title="close" id="close_error" style="font-size: 18px;color:red;cursor: pointer;"></i></div>
                </div>
                <div id="error-description" style="font-size:medium;white-space: pre;width: 100%;overflow: auto;"></div>
              </div>
            {% if question.status %}
            <ul id="list" class="list-group">
            </ul>
            {% else %}
            <ul id="list" class="list-group" uk-sortable>
            </ul>
            {% endif %}
            <div class="bg-white" id="testcases" style="display: none;margin-top: 10px;">
              <ul class="list-group list-group-horizontal" style="padding: 0px;">
                <li class="list-group-item content-active" id="testcase1" href="javascript:void(0)" style="width: 48%;text-align: center;"></li>
                <li class="list-group-item" id="testcase2" href="javascript:void(0)" style="width: 48%;text-align: center;"></li>
                <li class="list-group-item" id="close-testcases" href="javascript:void(0)" style="width:50px;text-align: center;background-color: #ffdf6a;color: white;"><i class="fa fa-remove"></i></li>
              </ul>
              <div class="testcases-content" style="padding: 10px;">
                <div id="testcase1-content">
                  <h5>Input:</h5>
                  <pre id="testcase1input" style="height: 135px;background-color: white;margin:0px"></pre>
                  <div class="row gy-1" style="margin-top: 5px;">
                    <div class="col-sm-6">
                      <h5>Expected Result:</h5>
                      <pre id="testcase1expected" style="height: 150px;background-color: white;margin:0px"></pre>
                    </div>
                    <div class="col-sm-6">
                      <div class="d-flex flex-row justify-content-between">
                        <h5>Actual Result:</h5>
                        <div class="form-check form-switch" style="font-size: 18px;">
                          <input class="form-check-input" type="checkbox" role="switch" id="diff1"/>
                          <label class="form-check-label" for="diff1">Diff</label>
                        </div>
                      </div>
                      <pre id="testcase1actual" style="height: 150px;background-color: white;margin:0px"></pre>
                      <pre id="testcase1actualdiff" style="height: 150px;display: none;background-color: white;margin:0px"></pre>
                    </div>
                  </div>
                </div>
                <div id="testcase2-content" style="display: none;">
                  <h5>Input:</h5>
                  <pre id="testcase2input" style="height: 135px;background-color: white;margin:0px"></pre>
                  <div class="row gy-1" style="margin-top: 5px;">
                    <div class="col-sm-6">
                      <h5>Expected Result:</h5>
                      <pre id="testcase2expected" style="height: 150px;background-color: white;margin:0px"></pre>
                    </div>
                    <div class="col-sm-6">
                      <div class="d-flex flex-row justify-content-between">
                        <h5>Actual Result:</h5>
                        <div class="form-check form-switch" style="font-size: 18px;">
                          <input class="form-check-input" type="checkbox" role="switch" id="diff2"/>
                          <label class="form-check-label" for="diff2">Diff</label>
                        </div>
                      </div>
                      <pre id="testcase2actual" style="height: 150px;background-color: white;margin:0px"></pre>
                      <pre id="testcase2actualdiff" style="height: 150px;display: none;background-color: white;margin:0px"></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div style="text-align: center;">
            {% if question.status %}
            <button class="btn btn-success shadow">Accepted</button>
            {% else %}
            <button class="btn btn-primary shadow" style="width: 100px;" onclick="submit()" id="submit">Submit</button>
            {% endif %}
          </div>
          <br>
          <div class="container d-flex justify-content-between">
          <button class="btn btn-outline-primary">Prev</button><button class="btn btn-primary">Next</button>
          </div>
          <br>
          <div>
        </div><!-- content-body -->
      </div><!-- content -->
      <script src="{% static 'common/lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
      <script src="{% static 'common/lib/feathericons/feather.min.js' %}"></script>
      <script src="{% static 'common/assets/js/script.js' %}"></script>
      <script src="{% static 'assets/js/diff.js' %}" ></script>
      <script>
        if (!!window.performance && window.performance.navigation.type === 2) {
          // value 2 means "The page was accessed by navigating into the history"
          window.location.reload(); // reload whole page
        }
        window.onpageshow = function(event){
          if(event.persisted){
            window.location.reload();
          }
        }
        var statements = JSON.parse("{{statements|escapejs}}");
        for(var i=0;i<statements.length;i++){
          $('#list').append('<xmp class="statement border-light shadow-sm">'+decode(statements[i]['statement'])+'</xmp>')
        }
        function encode(str){
          return btoa(str);
        }

        function decode(bytes) {
          var escaped = escape(atob(bytes || ""));
          try {
              return decodeURIComponent(escaped);
          } catch {
              return unescape(escaped);
          }
        }
        $(function(){
          $('[data-toggle="tooltip"]').tooltip();
          //difference toggle
          $("#diff1").on('change', function() {
            if ($(this).is(':checked')) {
              $('#testcase1actual').hide();
              $('#testcase1actualdiff').show();
            }
            else {
              $('#testcase1actualdiff').hide();
              $('#testcase1actual').show();
            }
          });
          $("#diff2").on('change', function() {
            if ($(this).is(':checked')) {
              $('#testcase2actual').hide();
              $('#testcase2actualdiff').show();
            }
            else {
              $('#testcase2actualdiff').hide();
              $('#testcase2actual').show();
            }
          });
          $('#testcase1').on('click',function(){
              $('#testcase1').addClass('content-active');
              $('#testcase2').removeClass('content-active');
              $('#testcase2-content').hide();
              $('#testcase1-content').fadeIn('slow');
          });
          $('#testcase2').on('click',function(){
              $('#testcase2').addClass('content-active');
              $('#testcase1').removeClass('content-active');
              $('#testcase1-content').hide();
              $('#testcase2-content').fadeIn('slow');
          });
          $('#close-testcases').on('click',function(){
              $('#testcases').hide();
          });
          //error closing
          $('#close_error').on('click',function(){
            $('#error').hide();
          });
        });
        //difference function
        var dmp = new diff_match_patch();

        function launch() {
          var text1 = $('#testcase1expected').html();
          var text2 = $('#testcase1actual').html();
          dmp.Diff_Timeout = 99.0;
          dmp.Diff_EditCost = 30.0;

          var ms_start = (new Date()).getTime();
          var d = dmp.diff_main(text1, text2);
          var ms_end = (new Date()).getTime();
          dmp.diff_cleanupEfficiency(d);
          var ds = dmp.diff_prettyHtml(d);
          document.getElementById('testcase1actualdiff').innerHTML = ds;
          text1 = $('#testcase2expected').html();
          text2 = $('#testcase2actual').html();
          dmp.Diff_Timeout = 99.0;
          dmp.Diff_EditCost = 30.0;

          var ms_start = (new Date()).getTime();
          var d = dmp.diff_main(text1, text2);
          var ms_end = (new Date()).getTime();
          dmp.diff_cleanupEfficiency(d);
          var ds = dmp.diff_prettyHtml(d);
          document.getElementById('testcase2actualdiff').innerHTML = ds;
        }
        function submit(){
          $('#list').removeAttr('uk-sortable');
          $('#error').hide();
          $("#testcases").hide();
          $('#submit').html('<i class="fa fa-spinner fa-spin"></i>');
          $('#submit').prop('disabled',true);
          let source = "";
          $('#list > xmp').each(function(){
            source += $(this).text()+"\n";
          });
          $.ajax({
            url : "{% url 'rearrange_submit' %}", // the endpoint
            type : "POST", // http method
            data : { source : encode(source),
                    language_code : 50,
                    problem_code : "{{question.code}}" }, // data sent with the post request

            // handle a successful response
            success : function(json){
              if(json["accepted"]){
                alert("One of your solutions already accepted");
                return;
              }
              if(json["updated"]==0){
                alert("Your submission already in queue. Try again later");
                return;
              }
              if(json[0]['status']['id']==6){
                $('#error-description').html(decode(json[0]['compile_output']));
                $('#error').show();
                var element = document.getElementById("error");
                element.scrollIntoView({behavior: "smooth"});
                $('#list').attr('uk-sortable','true');
              }
              else{
                $("#testcase1input").html(decode(json[0]['stdin']));
                $("#testcase1expected").html(decode(json[0]['expected_output']));
                $("#testcase2input").html(decode(json[1]['stdin']));
                $("#testcase2expected").html(decode(json[1]['expected_output']));
                if(json[0]['status']['id']==5){
                  $('#testcase1actual').html(json[0]['status']['description'])
                }
                else if(json[0]['status']['id']==8){
                  $('#testcase1actual').html(decode(json[0]['stdout'])+"\n"+decode(json[0]['message']));
                }
                else{
                  $('#testcase1actual').html(decode(json[0]['stdout'])+"\n"+decode(json['compile_output']));
                }
                if(json[1]['status']['id']==5){
                  $('#testcase2actual').html(json[1]['status']['description'])
                }
                else if(json[1]['status']['id']==8){
                  $('#testcase2actual').html(decode(json[1]['stdout'])+"\n"+decode(json[1]['message']));
                }
                else{
                  $('#testcase2actual').html(decode(json[1]['stdout'])+"\n"+decode(json['compile_output']));
                }
                if(json[0]['status']['id']==3)
                $('#testcase1').html('Testcase 1 (Passed)');
                else
                $('#testcase1').html('Testcase 1 (Failed)');
                if(json[1]['status']['id']==3)
                $('#testcase2').html('Testcase 2 (Passed)');
                else
                $('#testcase2').html('Testcase 2 (Failed)');
                launch();
                $('#testcase1').addClass('content-active');
                $('#testcase2').removeClass('content-active');
                $('#testcase2-content').hide();
                $('#testcase1-content').show();
                $('#testcases').show();
                var element = document.getElementById("testcases");
                element.scrollIntoView({behavior: "smooth"});
              }
              if(json[0]['status_id']==3 && json[1]['status_id']==3){
                $('#status').html('<i class="fa fa-check"></i>');
                $('#submit').html('Accepted');
                $('#submit').removeClass('btn-primary');
                $('#submit').addClass('btn-success');
                $('#status').removeAttr('onclick');
                $("#submit").prop('disabled',false);
              }
              else{
                $('#list').attr('uk-sortable','true');
                $('#status').html('<i class="fa fa-remove"></i>');
                $("#submit").html('Submit');
                $("#submit").prop('disabled',false);
              }
            },

            statusCode:{
                500: function(){
                  $('#list').addAttr('uk-sortable');
                  alert("unable to process request. please try again");
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              $('#list').addAttr('uk-sortable');
              alert(response["responseJSON"]["error"]);
            }
          });
        }
      </script>
    </body>
  </html>