pre{
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:100%;
  overflow-x: auto;
  user-select: none;
}

@media (min-width:500px){
  pre{
    width:500px;
  }
}

.option{
  border: rgb(185, 185, 185) 1px solid;
  border-radius: 5px;
  position: relative;
  display:inline-block;
  width: 100%;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
  background-color: white;
}

@media (min-width:962px) {
  .option{
    width: 700px;
  }
  i{
    padding-left: 5px;
  }
}

.sidebar-link{
  font-size: 17px;display: flex;
  justify-content: center;
  align-items: center;height: 50px;
}

.correct{
  border-right: #12a041 4px solid;
}

.wrong{
  border-left: #f88277 4px solid;
}